<!-- Contact Section Component -->
<section id="footer" class="min-vh-100 d-flex flex-column container-fluid" style="background-color: #d7e9e3;">
    <div class="row flex-grow-1 d-flex align-items-center justify-content-center">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="section-title text-uppercase mb-5">
                    <h2 class="section-title">Get in touch</h2>
                </div>
                <iframe class="airtable-embed" src="https://airtable.com/embed/appnqCCbKQac7WyI7/pagPtFDO5EnQ4wNTQ/form"
                    frameborder="0" onmousewheel="" width="100%" height="610"
                    style="background: transparent; border: 1px solid #D7E9E3;"></iframe>
            </div>
        </div>
    </div>
    <div class="container d-flex align-items-center justify-content-center">
        <footer class="col-9 flex-wrap justify-content-between align-items-center py-3 my-4 border-top border-dark">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <span class="mb-3 mb-md-0 text-muted">© 2025 Ben Davidson</span>
            </div>
        </footer>
    </div>
</section>