<!-- Intro Section Component -->
<section id="intro" class="fixed-background-overlay d-flex align-items-center">
    <!-- Overlay Div -->
    <div class="overlay"></div>

    <!-- Content Wrapper -->
    <div class="container content-wrapper p-0">
        <div class="row align-items-center g-0">
            <div class="col-md-4">
                <!-- Text Box -->
                <div class="custom-constainer-shadow text-block mb-4"
                    style="background-color: rgba(0, 0, 0, 0.8); color: #fff; position: relative; transform: scale(1.3); transform-origin: bottom left;">
                    <h2 class=" text-danger">Hi, I'm Ben.</h2>
                    <p class="lead">A Software Engineering student based in Adelaide.</p>
                    <p>
                        Previous Career: <br>
                        3 Hat Sommelier | Business General Manager
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Scroll Button Positioned Absolutely Relative to the Section -->
    <div class="scroll-button-container">
        <a href="#about-section" id="scrollToAbout" class="scroll-button-dark" aria-label="Scroll to About Section">
            <i class="fas fa-chevron-down"></i>
        </a>
    </div>
</section>