<!-- Navigation Component -->
<nav class="navbar navbar-expand-lg fixed-top custom-navbar" id="mainNav">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav fs-4" id="navbarNav">
                <a class="nav-link mx-3 scrollLink" href="#intro">Home</a>
                <a class="nav-link mx-3 scrollLink" href="#about-section">About</a>
                <a class="nav-link mx-3 scrollLink" href="#resume-section">Resume</a>
                <a class="nav-link mx-3 scrollLink" href="#projects">Projects</a>
                <a class="nav-link mx-3 scrollLink" href="#footer">Contact</a>
            </div>
        </div>
    </div>
</nav>